.App {
  text-align: center;
}
.root {
  background: #0d111c;
  height: 100vh;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-caption {
  padding-bottom: 300px;
}
.carousel-caption h2 {
  font-size: 48px;
}
.carousel-caption h5 {
  font-size: 120px;
  color: #fff;
}
.carousel-caption p {
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
  color: #fff;
  text-align: center;
}

.carousel-caption button {
  background: #ff1744;
  width: 166px;
  height: 56px;
  color: #fff;

  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 9px 19.1094px 9px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
